body {
    font-family: sans-serif;
    line-height: 1.5;
    padding:1em;
    word-break: keep-all;
    background: white;
    border-radius: 0 60px 0 80px;
}

html {
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  max-width: 800px;
  padding-top: 100px;
}

hr {
  background: black;
  mix-blend-mode: difference;
}

footer{
  /* display: flex; */
  /* position: sticky; */
  z-index: 999;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  font-size: 1rem;
  text-align: center;
}

details{
  width: 100%;
  max-width: 750px;
  box-sizing: border-box;
  border-radius: 0 0 0 80px;
  box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
  padding: 1em;
  box-shadow: 0px 0px 20px #FFF;
  background-color: white;
  font-size: small;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
  /*padding-bottom: 60px;*/
  /* 그림자 */
  box-shadow: rgba(0, 0, 0, 0.4) -5px -10px 10px 1px, rgba(0, 0, 0, 0.4) 2px 1px 10px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px!important;
 }
/* 접고 펼치는 버튼 */
summary{
  border-radius: 0 0 0 80px;
  width: 100%;
  height: 3em;
  list-style: none;
  text-align: center;
  cursor: pointer;
  color: grey;
  background: rgba(0,0,0,0);
}
summary::-webkit-details-marker{
  display: none;
}
pre{
  /* 가로스크롤 */
  width: 100%;
  max-width: 100%;
  overflow: auto;
  box-shadow: 2px 1px 10px 1px whitesmoke, -2px -1px 10px 1px whitesmoke;
  border-radius: 0 0 0 80px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  box-shadow: inset 6px 6px 10px rgba(50, 50, 93, 0.25),
    inset -6px -6px 10px rgba(0, 0, 0, 0.25)!important;
}
iframe {
  overflow: auto;
  box-shadow: 2px 1px 10px 1px whitesmoke, -2px -1px 10px 1px whitesmoke;
}
img, video{
  display: inline;
  height: auto;
  max-width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
a:link{
  color: black;
}
a:visited{
  color: black;
}
a:hover{
  color: black;
}
a:active{
  color: black;
}


.statement{
  padding: 3em;
  padding: 1em;
  border-radius: 0px 0px 80px 0px;
  /*background: black;*/
  /*color: white;*/
  /*max-width: 500px;*/
}
.history{
  font-weight: 900;
  font-size: small;
  padding: 1em;
  box-shadow: 0px 0px 20px #FFF;
  background-color: white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  box-shadow: rgba(222, 222, 0, 0.45) 0px 25px 20px -20px;
}
.cv{
  font-size: small;
  padding: 1em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.content{
  padding-top: 3em;
  padding-bottom: 3em;
}
.content-header{
  font-weight: 900;
  padding-bottom: 1em;
}
.c++{

}
.multi{
  column-count: 2;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.tags a {
  font-size: .75rem;
  color: black;
  background-color: gainsboro !important;
}
.tags a:hover {
  background-color: silver !important;
}

#vimeoWrap{
     position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
    margin: 0;
  }
#vimeoWrap iframe,
#vimeoWrap object,
#vimeoWrap embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text{
  mix-blend-mode: difference;
}

button {
  background-color: white;
  border: none;
  outline: black 1em;
  border-radius: 0 0 80px 0;
  weight: 10em;
  width:5em;
  height: 5em;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: black;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#mask { /*width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: #000; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50); zoom: 1; opacity: 0.5; z-index: 9998; display: none;*/ }
.btn_open { }
.popup_box { display: none; width: 280px; height: 300px; background: #fff; border: 1px solid #333; }
.popup_cont { padding: 20px; }
.popup_close { width: 100%; padding: 5px 0; background: white; color: white; text-align: right; position:absolute; bottom: 0; }
.btn_close { background: white; box-shadow: none; }
