body{
    font-family: sans-serif;
    line-height: 1.5;
    padding:1em;
    word-break: keep-all;
}

html {
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

details{
  width: 100%;
  max-width: 750px;
  text-align: justify;
  padding: 1em;
  box-sizing: border-box;
  background-color: #EEEEEE;
  color: grey;
  border-radius: 1px;
  box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
}
summary{
  font-weight: 900;
  list-style: none;
  text-align: center;
  cursor: pointer;
  color: grey;
  padding-bottom: 1em;
}

.statement{
  padding: 3em;
}

.history{
  background-color: #EEEEEE;
  color: grey;
  border-radius: 1px;
  box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
  padding: 1em;
}

.content{
  padding-top: 3em;
  padding-bottom: 3em;
}

.c++{

}

.multi{
  column-count: 2;
}
