details{
  width: 100%;
  max-width: 750px;
  text-align: justify;
  padding: 1em;
  box-sizing: border-box;
  background-color: #11111;
  color: grey;
}
summary{
  font-weight: 900;
  border: fuchsia 1px solid;
  border-radius: 50%;
  list-style: none;
  width: 49px;
  text-align: center;
  cursor: pointer;
}
